.menu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.menu-icon:hover{
  filter: invert(61%) sepia(85%) saturate(2250%) hue-rotate(352deg) brightness(97%) contrast(97%);
}

.menu-icon {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-icon:hover {
  opacity: 0.8;
}
