.menu-modal {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 150px;
  padding: 10px 10px;
  z-index: 1000;
  margin-top: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.menu-ul {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-ul span:hover {
  color: rgb(246, 139, 30);
}

.menu-icon-img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.menu-ul span {
  font-size: 12px;
  color: #282828;
  font-weight: 500;
}


/* Hide desktop menu on mobile */
@media (max-width: 800px) {
  .menu-modal {
    display: none;
  }
}
