.mobile-search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10000;
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.mobile-search-header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #333;
  display: flex;
  justify-content: center;
}

.back-btn span{
  font-size: 24px;
  margin-top: -7px;
}


.mobile-search-form {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0 10px;
}

.mobile-search-input {
  flex: 1;
  border: none;
  background: none;
  padding: 12px 10px;
  font-size: 14px;
  outline: none;
  color: #333;
}

.mobile-search-input::placeholder {
  color: #999;
}

.mobile-search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  border-left: rgb(51, 51, 51, 0.5) solid 1px;
}

/* Hide on desktop */
@media (min-width: 801px) {
  .mobile-search-overlay {
    display: none;
  }
}


.search-icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
