.relatedlist-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 400;
  gap: 10px;
  width: 28%;
}

hr{
  color: #ffffff;
}

.rela-item{
  gap: 10px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}


.rela-item2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rela-btn{
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.rela-category{
  color: rgb(246, 139, 30);
}

@media (max-width: 1000px){
  .relatedlist-container, .rela-item{
    width: 96%;
  }
}


@media (max-width: 800px){
  .relatedlist-container, .rela-item{
    width: 96%;
  }
}

@media (max-width: 520px){
  .relatedlist-container, .rela-item{
    width: 94.8%;
  }
}